@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@include mat.core();

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  color-scheme: inherit;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

:root {
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
  scrollbar-width: thin;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline-variant);
  border-radius: 2px;
}

.mat-horizontal-content-container {
  padding-bottom: 0 !important;
}

/* Toast / notification panel classes */
.mat-mdc-snack-bar-container.notification-error .mdc-snackbar__surface {
  background-color: #b71c1c;
  color: #fff;
}

.mat-mdc-snack-bar-container.notification-success .mdc-snackbar__surface {
  background-color: #2e7d32;
  color: #fff;
}

.mat-mdc-snack-bar-container.notification-warning .mdc-snackbar__surface {
  background-color: #ed6c02;
  color: #fff;
}

.mat-mdc-snack-bar-container.notification-info .mdc-snackbar__surface {
  background-color: #1565c0;
  color: #fff;
}
