mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.toolbar-right-section {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  font-family: "Lilita One";
  color: #006db8;
  font-size: 2rem;
  cursor: pointer;
}
